
form {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #202020;
    box-shadow: 0 8px 20px rgba(7, 64, 110, 0.1); /* Sombra más pronunciada */
    border-radius: 10px;
    margin-top: 15px;
  }
  #contenedor{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  form h1 {
    top: 2;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  form input[type="password"],
  form input[type="text"],
  form input[type="number"],
  form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  form input[type="text"]:focus,
  form input[type="number"]:focus,
  form input[type="file"]:focus {
    border-color: #007bff; /* Cambia el borde cuando el campo esté enfocado */
  }
  
  form button {
    width: 50%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  form button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
  }
  
  /* Estilo para el mensaje de error */
  form p {
    text-align: center;
    color: red;
    font-size: 14px;
  }
  
  .labelU{
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
  }

  a {
    color: #3498db; /* Color inicial del enlace */
    text-decoration: none; /* Quita el subrayado por defecto */
    font-weight: bold; /* Negrita para destacar */
    padding: 8px 16px; /* Espaciado interno para mayor tamaño del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    cursor: pointer;
}

a:hover {
    color: #fff; /* Color de texto al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

a:active {
    transform: scale(0.98); /* Efecto de clic para reducir ligeramente */
}

a:focus {
    outline: 2px solid #2980b9; /* Resalta el enlace en foco */
}
